{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="block">
        <h2>Se connecter</h2>
        <h1></h1>
        <input type="text" name="username" placeholder="pseudo" required>
        <label>Nom d'utilisateur</label>
        <h1></h1>
        <input type="password" name="pass" placeholder="mot de passe" required>
        <label>Mot de passe</label>
        <h1></h1>
        <input type="submit" value="Se connecter">
        <h1></h1>

        {% if errorauth %}
            <div class="bg-red-500 rounded-md">
                <p>Identifiants incorrect</p>
            </div>
        {% endif %}
    </div>
{% endblock %}